.input-wrapper {
    margin-bottom: 1rem;

}

.label-input {
    text-transform: capitalize;
    margin-bottom: 0rem;
    font-size: clamp(0.9rem, 2.2vw, 1.1rem);
}

.custom-input {
    border-width: 0;
    border-bottom-width: 1px;
    width: 100%;
    color: black;
    background-color: transparent;
    padding: 0.5rem 0rem;
    font-size: clamp(0.9rem, 1.8vw, 1.05rem);
    opacity: 0.8;
}

.custom-input:focus {
    outline: none;
    opacity: 1;
    transition: all 0.3s;
}

.custom-input::placeholder {
    color: grey;
}